<div>
  <div style="justify-content: space-between; display: flex;">
    <button (click)="changeContent(0)">Самолёт</button>
    <button (click)="changeContent(1)">Корабль</button>
    <button (click)="changeContent(2)">Автомобиль</button>
  </div>
  <div *ngIf="condition">
    <img src="{{imgSrc}}" />
  </div>
  <div [ngSwitch]="count">
    <ng-template ngSwitchCase="0">Ан-225 «Мрия» (укр. Мрія: «Мечта», по кодификации НАТО: англ. Cossack
      «Казак») — советский транспортный реактивный самолёт сверхбольшой
      грузоподъёмности разработки ОКБ им. О. К. Антонова. Самый большой и
      грузоподъёмный самолёт в мире за всю историю авиации.Перейти к разделу
      «#Рекорды». Самолёт был спроектирован и построен в СССР в единственном
      экземпляре на Киевском механическом заводе (руководитель проекта — В. И.
      Толмачёв) в 1984−88 годах. Первый полёт был совершён 21 декабря 1988 года.
      Изначально было заложено две машины; в настоящее время только один
      экземпляр находится в лётном состоянии и эксплуатируется украинской
      компанией Antonov Airlines. В СССР имел бортовой номер СССР-82060, после
      распада СССР перешел в собственность Украины и теперь имеет бортовой номер
      UR-82060. Второй экземпляр так и не был достроен.</ng-template>
    <ng-template ngSwitchCase="1">Knock Nevis (также назывался Seawise Giant, Happy Giant и Jahre Viking) —
      самый большой корабль в мире, нефтяной танкер (супертанкер) под норвежским
      флагом. Построен в 1976 году, перестроен в 1979 году, в последние годы
      использовался как плавучее нефтехранилище, затем доставлен в Аланг
      (Индия), где в 2010 году утилизирован. Источник здесь и ниже: 1 -
      Википедия. Размеры и характеристики: Дедвейт: 564 763 тонны. Длина
      наибольшая: 458,45 метра, ширина: 68,86 метра, осадка по летнюю грузовую
      марку: 24,61 метра. Максимальная скорость: 13 узлов (21,1 км/ч), экипаж
      судна: 40 человек. Тормозной путь судна: 10,2 километра, диаметр
      циркуляции: более 3,7 километра. Осадка при полной загрузке не позволяла
      судну проходить Суэцким каналом и проливом Ла-Манш, а в Панамский канал не
      проходил по всем своим габаритам.</ng-template>
    <ng-template ngSwitchCase="2">Недавно известный самосвал-гигант БелАЗ-75710 установил мировой рекорд по
      грузоподъёмности. На испытательном полигоне автомобиль перевёз груз весом
      в 503,5 тонны. Данный факт зафиксировал Алексей Свистунов, главный
      редактор Книги рекордов России. Машина установила рекорд в категории
      «самый большой карьерный самосвал». БелАЗ-75710 был представлен белорусам
      в сентябре 2013 года. Такие огромные машины, как правило, работают в
      карьерах, на нефтедобывающих платформах, в угледобывающей промышленности
      России. Длина данного экземпляра достигает 20 метров, а в высоту — восьми.
      Общая масса машины составляет 810 тонн; суммарная мощность двигателей —
      более 4600 лошадиных сил.
    </ng-template>
    <ng-template ngSwitchDefault>Нажмите на любую кнопку</ng-template>
  </div>
</div>